@font-face {
    font-family: "Play fair Display Bold";
    src: url('../fonts/PlayfairDisplayBold.otf') format('truetype');
}

.navbar {
    padding-left: 7vw;
    padding-right: 5vw;
    background-color: rgba(0, 1, 20, 0);
}

.navbar.active {
    background-color: #000114;
}

.title-name {
    font-family: "Play fair Display Bold", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.navLink {
    margin-right: 50px;
}

.navLink:hover {
    font-weight: bold;
    text-shadow: 1px 1px 25px #fff;
}